# Logs
api/error_log.log
api/rate_limits.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Preview specific
server.ts
package.json
package-lock.json
.env.example
INSTRUCOES_CPANEL.txt
